<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WSMainProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89897B2D1F94F04D00A98B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89897B461F94F04E00A98B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89897B511F94F04E00A98B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
